#root {
  display: flex;
  justify-content: center;
}
.App {
  display: flex;
  width: 800px;
  flex-direction: column;
  justify-content: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
